div{
	-o-transition:background .5s ease-in-out;
	-moz-transition:background .5s ease-in-out;
	-webkit-transition:background .5s ease;
	transition:background .5s ease;
}

body{
	font-family: 'Gentium Book Basic', serif;

}
.home_text{
	background: blue; 

}

.reading{
	background: red;
}
.header{
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 45px;
	border-bottom: solid 1px black;
	width:100%;
	background-color: #888888;
	opacity: .3;
}

p{
	margin-bottom: 5px;
	line-height: 150%;


}

.toggle{
	background-color: red;
}

h3{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 5px;
}

.menu{	margin-left: -30px;
		margin-top: 10px;
	width: 20%;
	height: 100px;
	float: left;

}

.block{
	margin-bottom: 200px;

}

#me{

	
	height: 210px;
	width: 200px;
	border-radius: 1750px;
	
}

ul{
	padding: 50px;
	position: fixed;
}

.menu a{
	text-decoration: none;
	color: #11ddff;
}

a:hover{
	color: #111111;
}

/*.menu ul li a{
	transition: background-color 0.5s ease;
}*/
/*
.menu ul li a:hover {
	background-color: green; 
}*/

.home_text{
	margin-top: 60px;
}

.texts{
	width: 80%;
	float: right;
}